@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  background-color: black;
  color-scheme: light dark;
  font-family: 'Roboto', sans-serif;
}

.row {
  display: inline-flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: relative;
  ul {
    list-style: none;
    margin-left: -42vw;
  }
  li {
    display: inline-flex;
    padding: 1rem;
  }

  h1 {
    color: #d93b29;
    margin-left: 6%;
  }
}
.login {
  text-align: center;
  .btn {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 756px) {
  .row {
    ul {
      display: none;
    }
  }
  .login {
    .btn {
      margin-top: 29%;
    }
  }
}
@media screen and (max-width: 392px) {
  .login {
    .btn {
      margin-top: 25%;
    }
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
ul {
  a {
    color: white;
  }
}

a:hover {
  color: #ba3f29;
}

@media screen and (max-width: 1168px) {
  .row {
    background-size: cover;
  }
}
@media screen and (min-width: 1168px) {
  .row {
    background-size: cover;
  }
}
@media screen and (max-width: 810px) {
  .row {
    h1 {
      font-size: 1.8rem;
    }
    .btn {
      margin-top: 0.7rem;
    }
    ul {
      margin-top: -0.9rem;
    }
  }
}
@media screen and (min-width: 811px) {
  .row {
    h1 {
      font-size: 2rem;
    }

    ul {
      margin-top: -0.3rem;
    }
  }
}
// @media screen and (max-width: 412px) {
//   .movie-text {
//     margin-left: 0.4rem;
//     margin-top: -83vh;
//     h1 {
//       font-size: 0.8rem;
//     }
//     .btn {
//       font-size: 0.7rem;
//       height: 1.9rem;
//       padding: 0.3rem;
//       text-align: center;
//     }
//   }
// }

.movie-text {
  z-index: 1;
}
// @media screen and (min-width: 413px) {
//   .movie-text {
//     margin-left: 0.4rem;
//     margin-top: -82vh;
//     h1 {
//       font-size: 0.8rem;
//     }
//     .btn {
//       font-size: 0.7rem;
//       height: 1.9rem;
//       padding: 0.3rem;
//       text-align: center;
//     }
//   }
// }
// @media screen and (min-width: 506px) {
//   .movie-text {
//     margin-left: 0.4rem;
//     margin-top: -78vh;
//     h1 {
//       font-size: 1.2rem;
//     }
//     .btn {
//       font-size: 1rem;
//       height: auto;
//       text-align: center;
//     }
//   }
// }
// @media screen and (min-width: 700px) {
//   .movie-text {
//     margin-left: 1rem;
//     margin-top: -70vh;
//     h1 {
//       font-size: 1.4rem;
//     }
//     .btn {
//       font-size: 1rem;
//       height: auto;
//       text-align: center;
//     }
//   }
// }
// @media screen and (min-width: 890px) {
//   .movie-text {
//     margin-left: 1rem;
//     margin-top: -60vh;
//     h1 {
//       font-size: 1.3rem;
//     }
//     .btn {
//       font-size: 1rem;
//       height: auto;
//       text-align: center;
//     }
//   }
// }
// @media screen and (min-width: 1168px) {
//   .movie-text {
//     margin-left: 1rem;
//     margin-top: -27vh;
//     h1 {
//       font-size: 3rem;
//     }
//     .btn {
//       display: inline-flex;
//       align-items: center;
//       justify-content: space-around;
//       font-size: 1.8rem;
//       height: auto;
//       text-align: center;
//     }
//   }
// }
// @media screen and (min-width: 1571px) {
//   .movie-text {
//     margin-left: 2rem;
//     margin-top: -35vh;
//     h1 {
//       font-size: 3rem;
//     }
//     .btn {
//       font-size: 3rem;
//       height: auto;
//       text-align: center;
//     }
//   }
//   .row {
//     h1 {
//       font-size: 3rem;
//     }
//     ul {
//       font-size: 1.8rem;
//     }
//     .btn {
//       font-size: 1.5rem;
//     }
//   }
// }

.movie-row {
  flex-wrap: nowrap;
  white-space: nowrap;
  scroll-behavior: smooth;
  max-height: 300px;
  overflow: hidden;
}
.movie-row:hover {
  overflow-x: scroll;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
  max-width: 600px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 1.3rem;
  padding: 20px;
  text-align: center;
  height: 14rem;
  color: white;
  span {
    margin-right: 3px;
  }
}
@media only screen and (max-width: 439px) {
  .overlay {
    height: 15rem;
  }
}

@media only screen and (min-width: 440px) {
  .overlay {
    height: 17rem;
  }
}
@media only screen and (min-width: 529px) {
  .overlay {
    height: 19rem;
  }
}
@media only screen and (max-width: 1166px) {
  .navbar-row {
    height: 28vh;
  }
}
.movie-text {
  position: absolute;
  top: 13%;
  z-index: 1;
  margin-left: 1rem;
}
@media only screen and (min-width: 1166px) {
  .movie-text {
    position: absolute;
    top: 62%;
  }
}
.navbar-row {
  filter: brightness(0.9);
}
